In [1]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np
import matplotlib.pyplot as plt

In [2]:
obj = pd.Series([4,-9,7,23])
obj

In [3]:
print(type(obj))

<class 'pandas.core.series.Series'>

In [4]:
obj.values

In [5]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
obj2 = pd.Series([45,6,8,12,34,6],index=['a','p','c','d','e','k'])
obj2

In [8]:
obj2['k']

6

In [9]:
obj2['a'] = 222
obj2

In [10]:
obj2[obj2>10]

In [11]:
sdata = {'Warszawa':45100, 'Kraków':38900, 'Lublin':39876, 'Gdańsk':41560}
obj3 = pd.Series(sdata)
obj3

In [13]:
miasta = ['Poznań','Kraków','Rzeszów','Lublin']
obj4 = pd.Series(sdata,index=miasta)
obj4

In [14]:
pd.isnull(obj4)

In [15]:
obj3+obj4

In [16]:
obj4.name = 'liczba wniosków'
obj4.index.name = 'miasta'
obj4

In [17]:
#obiekt DataFrame
data = {'miasto':['Warszawa','Warszawa','Warszawa','Kraków','Kraków','Kraków'],
        'rok':[2017,2018,2019,2018,2019,2020],
        'populacja':[2.7,2.75,3.05,0.85,0.9,1.01]}
frame = pd.DataFrame(data)
frame

,miasto,rok,populacja
0,Warszawa,2017,2.70
1,Warszawa,2018,2.75
2,Warszawa,2019,3.05
3,Kraków,2018,0.85
4,Kraków,2019,0.90
5,Kraków,2020,1.01

In [18]:
frame2 = pd.DataFrame(data,columns=['rok','miasto','populacja','wsp'],index=['jeden','dwa','trzy','cztery','pieć','sześć'])
frame2

,rok,miasto,populacja,wsp
jeden,2017,Warszawa,2.70,NaN
dwa,2018,Warszawa,2.75,NaN
trzy,2019,Warszawa,3.05,NaN
cztery,2018,Kraków,0.85,NaN
pieć,2019,Kraków,0.90,NaN
sześć,2020,Kraków,1.01,NaN

In [19]:
frame2['miasto']

In [20]:
frame2.rok

In [21]:
frame2.wsp = 19.9
frame2

,rok,miasto,populacja,wsp
jeden,2017,Warszawa,2.70,19.9
dwa,2018,Warszawa,2.75,19.9
trzy,2019,Warszawa,3.05,19.9
cztery,2018,Kraków,0.85,19.9
pieć,2019,Kraków,0.90,19.9
sześć,2020,Kraków,1.01,19.9

In [22]:
frame2['wsp'] = np.arange(6.)
frame2

,rok,miasto,populacja,wsp
jeden,2017,Warszawa,2.70,0.0
dwa,2018,Warszawa,2.75,1.0
trzy,2019,Warszawa,3.05,2.0
cztery,2018,Kraków,0.85,3.0
pieć,2019,Kraków,0.90,4.0
sześć,2020,Kraków,1.01,5.0

In [27]:
daty = pd.date_range("20231010",periods=6)
daty

DatetimeIndex(['2023-10-10', '2023-10-11', '2023-10-12', '2023-10-13',
               '2023-10-14', '2023-10-15'],
              dtype='datetime64[ns]', freq='D')

In [28]:
fr = pd.DataFrame(np.random.randn(6,4),index=daty,columns=list("ABCD"))
fr

,A,B,C,D
2023-10-10,0.225906,0.632469,-1.534005,0.216648
2023-10-11,-0.000093,-1.703728,-0.171619,1.384744
2023-10-12,-1.180735,0.166780,-0.501269,-1.786694
2023-10-13,-0.047633,-0.288355,-1.486492,-0.544063
2023-10-14,0.092815,-0.744275,-0.919435,0.915393
2023-10-15,0.105935,-0.157771,-0.425461,1.163175

In [29]:
fr.head(3)

,A,B,C,D
2023-10-10,0.225906,0.632469,-1.534005,0.216648
2023-10-11,-0.000093,-1.703728,-0.171619,1.384744
2023-10-12,-1.180735,0.166780,-0.501269,-1.786694

In [30]:
fr.tail(2)

,A,B,C,D
2023-10-14,0.092815,-0.744275,-0.919435,0.915393
2023-10-15,0.105935,-0.157771,-0.425461,1.163175

In [31]:
fr.to_numpy()

In [32]:
fr.describe()

,A,B,C,D
count,6.000000,6.000000,6.000000,6.000000
mean,-0.133967,-0.349147,-0.839714,0.224867
std,0.521458,0.807600,0.572576,1.211632
min,-1.180735,-1.703728,-1.534005,-1.786694
25%,-0.035748,-0.630295,-1.344728,-0.353885
50%,0.046361,-0.223063,-0.710352,0.566020
75%,0.102655,0.085642,-0.444413,1.101229
max,0.225906,0.632469,-0.171619,1.384744

In [33]:
fr.T

,2023-10-10,2023-10-11,2023-10-12,2023-10-13,2023-10-14,2023-10-15
A,0.225906,-0.000093,-1.180735,-0.047633,0.092815,0.105935
B,0.632469,-1.703728,0.166780,-0.288355,-0.744275,-0.157771
C,-1.534005,-0.171619,-0.501269,-1.486492,-0.919435,-0.425461
D,0.216648,1.384744,-1.786694,-0.544063,0.915393,1.163175

In [35]:
fr.sort_index(axis=0, ascending=False)

,A,B,C,D
2023-10-15,0.105935,-0.157771,-0.425461,1.163175
2023-10-14,0.092815,-0.744275,-0.919435,0.915393
2023-10-13,-0.047633,-0.288355,-1.486492,-0.544063
2023-10-12,-1.180735,0.166780,-0.501269,-1.786694
2023-10-11,-0.000093,-1.703728,-0.171619,1.384744
2023-10-10,0.225906,0.632469,-1.534005,0.216648

In [36]:
fr.sort_values(by="B")

,A,B,C,D
2023-10-11,-0.000093,-1.703728,-0.171619,1.384744
2023-10-14,0.092815,-0.744275,-0.919435,0.915393
2023-10-13,-0.047633,-0.288355,-1.486492,-0.544063
2023-10-15,0.105935,-0.157771,-0.425461,1.163175
2023-10-12,-1.180735,0.166780,-0.501269,-1.786694
2023-10-10,0.225906,0.632469,-1.534005,0.216648

In [37]:
d = fr.groupby("A")

In [39]:
obj = pd.Series([4.5,7.2,-5.6,5],index=['r1','r2','r3','r4'])
obj

In [40]:
obj2 = obj.reindex(['r1','r2','r3','r4','nd_1','nd_2'])
obj2

In [47]:
obj3 = pd.Series(['niebieski','zielony','czerwony'],index=[0,3,8])
obj3

In [49]:
obj3.reindex(range(11),method='ffill')