In [1]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np
import matplotlib.pyplot as plt

In [2]:
obj = pd.Series([4,-9,7,23])
obj

In [3]:
print(type(obj))

<class 'pandas.core.series.Series'>

In [4]:
obj.values

In [5]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
obj2 = pd.Series([45,6,8,12,34,6],index=['a','p','c','d','e','k'])
obj2

In [8]:
obj2['k']

6

In [9]:
obj2['a'] = 222
obj2

In [10]:
obj2[obj2>10]

In [11]:
sdata = {'Warszawa':45100, 'Kraków':38900, 'Lublin':39876, 'Gdańsk':41560}
obj3 = pd.Series(sdata)
obj3

In [13]:
miasta = ['Poznań','Kraków','Rzeszów','Lublin']
obj4 = pd.Series(sdata,index=miasta)
obj4

In [14]:
pd.isnull(obj4)

In [15]:
obj3+obj4

In [16]:
obj4.name = 'liczba wniosków'
obj4.index.name = 'miasta'
obj4

In [17]:
#obiekt DataFrame
data = {'miasto':['Warszawa','Warszawa','Warszawa','Kraków','Kraków','Kraków'],
        'rok':[2017,2018,2019,2018,2019,2020],
        'populacja':[2.7,2.75,3.05,0.85,0.9,1.01]}
frame = pd.DataFrame(data)
frame

,miasto,rok,populacja
0,Warszawa,2017,2.70
1,Warszawa,2018,2.75
2,Warszawa,2019,3.05
3,Kraków,2018,0.85
4,Kraków,2019,0.90
5,Kraków,2020,1.01

In [18]:
frame2 = pd.DataFrame(data,columns=['rok','miasto','populacja','wsp'],index=['jeden','dwa','trzy','cztery','pieć','sześć'])
frame2

,rok,miasto,populacja,wsp
jeden,2017,Warszawa,2.70,NaN
dwa,2018,Warszawa,2.75,NaN
trzy,2019,Warszawa,3.05,NaN
cztery,2018,Kraków,0.85,NaN
pieć,2019,Kraków,0.90,NaN
sześć,2020,Kraków,1.01,NaN

In [19]:
frame2['miasto']

In [20]:
frame2.rok

In [21]:
frame2.wsp = 19.9
frame2

,rok,miasto,populacja,wsp
jeden,2017,Warszawa,2.70,19.9
dwa,2018,Warszawa,2.75,19.9
trzy,2019,Warszawa,3.05,19.9
cztery,2018,Kraków,0.85,19.9
pieć,2019,Kraków,0.90,19.9
sześć,2020,Kraków,1.01,19.9

In [22]:
frame2['wsp'] = np.arange(6.)
frame2

,rok,miasto,populacja,wsp
jeden,2017,Warszawa,2.70,0.0
dwa,2018,Warszawa,2.75,1.0
trzy,2019,Warszawa,3.05,2.0
cztery,2018,Kraków,0.85,3.0
pieć,2019,Kraków,0.90,4.0
sześć,2020,Kraków,1.01,5.0